USE [PetShop_Homologacao]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALIMENTAULTIMOACESSO]    Script Date: 13/01/2017 22:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[SP_ALIMENTAULTIMOACESSO] (
	@CODIGOUSUARIO INT,
	@USUARIO VARCHAR(100),
	@DATAATUALIZACAO DATETIME,
	@MESMOUSUARIO INT,
	@SENHA VARCHAR(70),
	@LEMBRARSENHA INT,
	@CODIGOUNIDADE INT	
)
AS
BEGIN 
	IF @MESMOUSUARIO = 1 
	BEGIN
		UPDATE ULTIMOACESSO
		SET DATAATUALIZACAO = @DATAATUALIZACAO, 
		LEMBRARSENHA = @LEMBRARSENHA,
	    SENHA = @SENHA				
		WHERE (SELECT MAX(DATAATUALIZACAO) FROM ULTIMOACESSO) = DATAATUALIZACAO AND
			  CODIGOUSUARIO = (SELECT TOP 1 CODIGOUSUARIO FROM ULTIMOACESSO ORDER BY 1 DESC) 			  			
	END
	ELSE
		INSERT INTO [dbo].[ULTIMOACESSO] VALUES (@CODIGOUSUARIO,@CODIGOUNIDADE,@USUARIO,@DATAATUALIZACAO,@SENHA,@LEMBRARSENHA);
END;

