USE [PetShop_Homologacao]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALIMENTASYSTEMCONFIG]    Script Date: 25/12/2016 23:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ALIMENTASYSTEMCONFIG] (
	@CODIGOEMPRESA INT,
	@NOMEEMPRESA VARCHAR(80),
	@DATAIMPLANTACAO DATETIME,
	@DATAEXPIRACAO DATETIME,
	@ATIVO INT
)
AS
BEGIN 
	IF (SELECT COUNT(CODIGOEMPRESA) FROM SYSTEMCONFIG WHERE CODIGOEMPRESA = @CODIGOEMPRESA) > 0 
	BEGIN
		PRINT ('Empresa já cadastrada no sistema.')	
	END
	ELSE	
		INSERT INTO [dbo].[SYSTEMCONFIG] VALUES (@CODIGOEMPRESA,@NOMEEMPRESA,@DATAIMPLANTACAO,@DATAEXPIRACAO,@ATIVO);
END;